<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserMapper">

    <sql id="FIELDS">
        id, username, password
    </sql>

    <select id="selectByIds" resultType="com.example.entity.User">
        SELECT
        <include refid="FIELDS" />
        FROM t_user
        WHERE id IN
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>
    <select id="selectAll" resultType="com.example.entity.User">
        select
        <include refid="FIELDS" />
        from t_user
    </select>
    <update id="updateNameById" parameterType="com.example.entity.User">
        update t_user set username =#{username} where id=#{id}
    </update>

</mapper>